.input-section {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.inputs input {
    width: 100%;
    height: 2rem;
    border-radius: 4px;
    padding-left: 12px;
    border: 1px solid var(--text-100);
}

.inputs input:focus {
    outline-color: var(--text-300);
}

.icons {
    font-size: 1.2rem;
    color: var(--text-500);
    cursor: pointer;
}
.units {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}